name: Build & Test 

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    if: "!startsWith(github.event.head_commit.message, 'docs:')"
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.23'

    - name: Build
      run: go build -v ./...

  test:
    runs-on: ubuntu-latest
    if: "!startsWith(github.event.head_commit.message, 'docs:')"
    steps:
      - uses: actions/checkout@v4

      - name: Test
        run: go test -v ./...
